
  <div class="breadcrumbs">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="breadcrumbs-content">
            <h1 class="page-title">About Us</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="breadcrumb-nav">
            <li><a href="/back-to-home"><i class="lni lni-home"></i> Home</a></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <section class="about-us section">
    <div class="container">
      <div class="row align-items-center">
        <div  class="col-lg-6 col-md-12 col-12">
          <div class="content-left">
        
            <img style="height:550px; width:600px" class="shadow-sm p-3 mb-5 bg-white rounded"  src="userasset/images/logo/aboutus1.avif" alt="#">
           
  
            <a  href="userasset/images/logo/fashionvideo.mp4"
              class="glightbox video"><i class="lni lni-play"></i></a>
      </video>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">

          <div class="content-right">
            <h2>Kstyles - Trusted & Reliable Partner of WOMEN & KIDS.</h2>
            <p>Kstyles justifies its fashion relevance by bringing new attires to the table on the daily.
                 Even though fashion trends are changing at a lightning speed, Kstyles online shopping destination has managed to keep up without any hiccups. 
                In addition, Kstyles has vowed to serve customers to the best of its ability by introducing dashing offers for top-brands.</p>
<div class="row">
    <div class="col-lg-6 col-md-12 col-12" >
 <img style="height:200px; width:250px;" class="shadow-sm p-3 mb-5 bg-white rounded rounded-circle" src="userasset/images/logo/lf1.webp" alt="#">
    </div>
       <div class="col-lg-6 col-md-12 col-12" >
         <img style="height:200px; width:250px;" class="shadow-sm p-3 mb-5 bg-white rounded rounded-circle" src="userasset/images/logo/kf.webp" alt="#">
    </div>
</div>
                
            <p> The user-friendly interface of Kstyles online shopping destination will guide you through your selection process. Comprehensive features of the website help you make the best buying decisions. 
                You also have the freedom to choose your payment options, be it card or cash-on-delivery.
                Enjoy the hassle-free experience as you shop comfortably from your home or your workplace. 
                You can also shop for your friends, family and loved-ones and avail our gift services for special occasions.</p>
             
          </div>
        </div>
      </div>
    </div>
  </section>


 
