<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Wallet</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/back-to-home"><i class="lni lni-home"></i> Home</a></li>
                    <li><a href="/back-to-home">Shop</a></li>
                    <li>My orders</li>
                    <li>Ordered products</li>
                </ul>
            </div>
        </div>
    </div>
</div>



<section class="checkout-wrapper section">

    <div class="container">


        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="button mb-3">
                    <a href="/show-my-orders" class="btn animate">My orders</a>
                </div>
                <div class="checkout-steps-form-style-1">
                    <ul id="accordionExample">

                        <li>
                            <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="true" aria-controls="collapseThree"><span style="color:rgb(170, 122, 126); font:300;">Anyone who says money doesn't buy happiness doesn't know where to shop!!</span>
                           </h6>
                            <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          


                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                                                <div class="product-image">
                                                                    <img class="float-left"
                                                                        src="/userasset/images/logo/delivery.svg" alt="">
                                                                   
                                                                    <div class="button"><span style="color:rgb(61, 133, 133)">Happy shopping with Kstyles, grab your favourite attairs !!</span> </h6>

                                                                    </div>
                                                                </div>
                                                            </div>

                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                                            aria-labelledby="nav-grid-tab">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-12">

                                                    <div class="single-product">
                                                        <div class="row align-items-center">
                                                     

            


                                                                {{#each orders}}

                                                                <div class="cart-single-list">
                                                                    <div class="row align-items-center">
                                                                        {{#each product}}
                                                                        <div
                                                                            class="col-lg-3 col-md-1 col-12 text-center">
                                                                            <a href="product-details.html"><img
                                                                                    src="{{#index_of this.Image 0}}{{/index_of}}"
                                                                                    alt="#"></a>
                                                                        </div>
                                                                        <div
                                                                            class="col-lg-4 col-md-3 col-12 text-center">

                                                                           <span><h6 class="product-name"><a
                                                                                    href="product-details.html"> <strong>

                                                                                     {{this.name}}</strong>

                                                                                 </a></h6></span> 
                                                                     
                                                                        </div>
                                                                      
                                                                        <div
                                                                            class="col-lg-3 col-md-2 col-12 text-center">
                                                                            <span><h6 class="product-name">₹<a
                                                                                    href="#">

                                                                                   <strong>{{this.realAmount}}</strong></a></h6></span>
                                                                        
                                                                        </div>
                                                                     


                                                                        {{/each}}
                                                                           <div class="col-lg-2 col-md-2 col-12">

                                                                                <span><p class="product-name">qty:<a
                                                                                    href="#">

                                                                                    {{this.products.quantity}}</a></p></span>
                                                                        
                                                                           
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                {{/each}}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </section>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>